<!DOCTYPE html>
<html>
  <head>
    <title>Skywalker</title>
 	</head>
  <body>
 		<div id="app-root"></div>
    <%= yield %>
    <% if Rails.env.development? -%>
	 		<script>
				var bundlePath = 'http://localhost:3020/build/bundle.js';
		  	var bundleScriptEl = document.createElement('script');
		  	bundleScriptEl.src = bundlePath;
		 		document.currentScript.parentNode.insertBefore(bundleScriptEl, document.currentScript);
	  	</script>
    <% else -%>
      <script src="<%= root_url << 'build/bundle.js' %>"></script>
  	<% end -%>
  </body>
</html>
